// Kolory

$mint-green: #01AD85;
$black: #000000;
$gray: #919191;
$white: #FFFFFF;
$red: #C80000;

// Grubości czcionki

$normal: 400;
$bold: 700;
$narrow: 300;

// inne

$bg-img-url: '../img/darkdenim.png';